@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

// css gradient

body {
  
  background: rgba(238,244,246,1);
background: -moz-linear-gradient(left, rgba(238,244,246,1) 0%, rgba(214,223,230,1) 26%, rgba(177,195,205,1) 50%, rgba(200,217,227,1) 76%, rgba(221,237,248,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(238,244,246,1)), color-stop(26%, rgba(214,223,230,1)), color-stop(50%, rgba(177,195,205,1)), color-stop(76%, rgba(200,217,227,1)), color-stop(100%, rgba(221,237,248,1)));
background: -webkit-linear-gradient(left, rgba(238,244,246,1) 0%, rgba(214,223,230,1) 26%, rgba(177,195,205,1) 50%, rgba(200,217,227,1) 76%, rgba(221,237,248,1) 100%);
background: -o-linear-gradient(left, rgba(238,244,246,1) 0%, rgba(214,223,230,1) 26%, rgba(177,195,205,1) 50%, rgba(200,217,227,1) 76%, rgba(221,237,248,1) 100%);
background: -ms-linear-gradient(left, rgba(238,244,246,1) 0%, rgba(214,223,230,1) 26%, rgba(177,195,205,1) 50%, rgba(200,217,227,1) 76%, rgba(221,237,248,1) 100%);
background: linear-gradient(to right, rgba(238,244,246,1) 0%, rgba(214,223,230,1) 26%, rgba(177,195,205,1) 50%, rgba(200,217,227,1) 76%, rgba(221,237,248,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef4f6', endColorstr='#ddedf8', GradientType=1 );
        
}

.alert-notice{
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.jumbotron{
  background: transparent;
}

.jumbotron h1, h3{
  color: #fff;
}